server {
    listen 80;
    server_name {{ domain }} www.{{ domain }};

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_pass http://{{ leptos_server_proxy }};

      include /etc/nginx/mime.types;
      types {
        application/wasm wasm;
      }
		  default_type application/octet-stream;
    }

    location /.well-known/ {
        root /var/www/html;
    }

    # additional apps location config files to include:
    include /etc/nginx/locations/kdwarn/*.conf;
}
