# redirect http to https
server {
    listen 80;
    server_name {{ domain }} www.{{ domain }};
    return 302 https://$server_name$request_uri;
}

# redirect www. to root
server {
	listen 443 ssl;
    server_name www.{{ domain }};
    ssl_certificate /etc/letsencrypt/certs/fullchain_www.{{ domain }}.crt;
    ssl_certificate_key /etc/letsencrypt/keys/www.{{ domain }}.pem;
    return 302 https://{{ domain }}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ domain }};

    ssl_certificate /etc/letsencrypt/certs/fullchain_{{ domain }}.crt;
    ssl_certificate_key /etc/letsencrypt/keys/{{ domain }}.pem;

    location / {
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
      proxy_pass http://{{ leptos_server_proxy }};

      include /etc/nginx/mime.types;
      types {
        application/wasm wasm;
      }
		  default_type application/octet-stream;
    }

    location /.well-known/ {
        root /var/www/html;
    }

    # additional apps on this domain will have conf files here:
    include /etc/nginx/locations/kdwarn/*.conf;
}
