/* dark mode is the default, and so most things come from styles.css, this just
covers syntax highlighting */
@media (prefers-color-scheme: dark) {
	pre {
		background-color: #2b303b;
		border: 1px solid var(--yellow);
	}

	/* Everything after this, which is for coding highlighting:
	Author: Chris Kempson (http://chriskempson.com)
	Name: Base16 Ocean Dark
	*/

	pre > code * {
		color: #c0c5ce;
		background-color: #2b303b;
	}

	pre > code .variable.parameter.function {
		color: #c0c5ce;
	}

	pre > code .comment {
		color: #65737e;
	}

	pre > code .punctuation.definition.comment {
		color: #65737e;
	}

	pre > code .punctuation.definition.string {
		color: #c0c5ce;
	}

	pre > code .punctuation.definition.variable {
		color: #c0c5ce;
	}

	pre > code .punctuation.definition.string {
		color: #c0c5ce;
	}

	pre > code .punctuation.definition.parameters {
		color: #c0c5ce;
	}

	pre > code .punctuation.definition.string {
		color: #c0c5ce;
	}

	pre > code .punctuation.definition.array {
		color: #c0c5ce;
	}

	pre > code .none {
		color: #c0c5ce;
	}

	pre > code .keyword.operator {
		color: #c0c5ce;
	}

	pre > code .keyword {
		color: #b48ead;
	}

	pre > code .keyword.operator.logical.python {
		color: #b48ead;
	}

	pre > code .variable {
		color: #bf616a;
	}

	pre > code .variable.other.dollar.only.js {
		color: #bf616a;
	}

	pre > code .entity.name.function {
		color: #8fa1b3;
	}

	pre > code .meta.require {
		color: #8fa1b3;
	}

	pre > code .support.function.any-method {
		color: #8fa1b3;
	}

	pre > code .variable.function {
		color: #8fa1b3;
	}

	pre > code .support.class {
		color: #ebcb8b;
	}

	pre > code .entity.name.class {
		color: #ebcb8b;
	}

	pre > code .entity.name.type.class {
		color: #ebcb8b;
	}

	pre > code .meta.class {
		color: #eff1f5;
	}

	pre > code .keyword.other.special-method {
		color: #8fa1b3;
	}

	pre > code .storage {
		color: #b48ead;
	}

	pre > code .support.function {
		color: #96b5b4;
	}

	pre > code .string {
		color: #a3be8c;
	}

	pre > code .constant.other.symbol {
		color: #a3be8c;
	}

	pre > code .entity.other.inherited-class {
		color: #a3be8c;
	}

	pre > code .constant.numeric {
		color: #d08770;
	}

	pre > code .none {
		color: #d08770;
	}

	pre > code .none {
		color: #d08770;
	}

	pre > code .constant {
		color: #d08770;
	}

	pre > code .entity.name.tag {
		color: #bf616a;
	}

	pre > code .entity.other.attribute-name {
		color: #d08770;
	}

	pre > code .entity.other.attribute-name.id {
		color: #8fa1b3;
	}

	pre > code .punctuation.definition.entity {
		color: #8fa1b3;
	}

	pre > code .meta.selector {
		color: #b48ead;
	}

	pre > code .none {
		color: #d08770;
	}

	pre > code .markup.heading .punctuation.definition.heading {
		color: #8fa1b3;
	}

	pre > code .entity.name.section {
		color: #8fa1b3;
	}

	pre > code .keyword.other.unit {
		color: #d08770;
	}

	pre > code .markup.bold {
		color: #ebcb8b;
		font-weight: bold;
	}

	pre > code .punctuation.definition.bold {
		color: #ebcb8b;
		font-weight: bold;
	}

	pre > code .markup.italic {
		color: #b48ead;
		font-style: italic;
	}

	pre > code .punctuation.definition.italic {
		color: #b48ead;
		font-style: italic;
	}

	pre > code .markup.raw.inline {
		color: #a3be8c;
	}

	pre > code .string.other.link {
		color: #bf616a;
	}

	pre > code .meta.link {
		color: #d08770;
	}

	pre > code .meta.image {
		color: #d08770;
	}

	pre > code .markup.list {
		color: #bf616a;
	}

	pre > code .markup.quote {
		color: #d08770;
	}

	pre > code .meta.separator {
		color: #c0c5ce;
		background-color: #4f5b66;
	}

	pre > code .markup.inserted {
		color: #a3be8c;
	}

	pre > code .markup.inserted.git_gutter {
		color: #a3be8c;
	}

	pre > code .markup.deleted {
		color: #bf616a;
	}

	pre > code .markup.deleted.git_gutter {
		color: #bf616a;
	}

	pre > code .markup.changed {
		color: #b48ead;
	}

	pre > code .markup.changed.git_gutter {
		color: #b48ead;
	}

	pre > code .markup.ignored {
		color: #4f5b66;
	}

	pre > code .markup.ignored.git_gutter {
		color: #4f5b66;
	}

	pre > code .markup.untracked {
		color: #4f5b66;
	}

	pre > code .markup.untracked.git_gutter {
		color: #4f5b66;
	}

	pre > code .constant.other.color {
		color: #96b5b4;
	}

	pre > code .string.regexp {
		color: #96b5b4;
	}

	pre > code .constant.character.escape {
		color: #96b5b4;
	}

	pre > code .punctuation.section.embedded {
		color: #ab7967;
	}

	pre > code .variable.interpolation {
		color: #ab7967;
	}

	pre > code .invalid.illegal {
		color: #2b303b;
		background-color: #bf616a;
	}

	pre > code .markup.deleted.git_gutter {
		color: #F92672;
	}

	pre > code .markup.inserted.git_gutter {
		color: #A6E22E;
	}

	pre > code .markup.changed.git_gutter {
		color: #967EFB;
	}

	pre > code .markup.ignored.git_gutter {
		color: #565656;
	}

	pre > code .markup.untracked.git_gutter {
		color: #565656;
	}
}
