@media (prefers-color-scheme: light) {
	body { 
		background: var(--gray6); 
		color: var(--gray2); 
	} 

	h1, h2, h3 { color: var(--gray1); } 

	a:hover { color: var(--gray1); } 

	svg {
  	color: var(--gray2);
	}

	a svg:hover {
	  color: var(--gray1);
	}

	pre {
		background-color: #eff1f5;
		border: 1px solid gray;
	}

	/* Everything after this, which is for coding highlighting:
	Author: Chris Kempson (http://chriskempson.com)
	Name: Base16 Ocean Light
	*/

	pre > code * {
		color: #4f5b66;
		background-color: #eff1f5;
	}

	pre > code .variable.parameter.function {
		color: #4f5b66;
	}

	pre > code .comment {
		color: #a7adba;
	}

	pre > code .punctuation.definition.comment {
		color: #a7adba;
	}

	pre > code .punctuation.definition.string {
		color: #4f5b66;
	}

	pre > code .punctuation.definition.variable {
		color: #4f5b66;
	}

	pre > code .punctuation.definition.string {
		color: #4f5b66;
	}

	pre > code .punctuation.definition.parameters {
		color: #4f5b66;
	}

	pre > code .punctuation.definition.string {
		color: #4f5b66;
	}

	pre > code .punctuation.definition.array {
		color: #4f5b66;
	}

	pre > code .none {
		color: #4f5b66;
	}

	pre > code .keyword.operator {
		color: #4f5b66;
	}

	pre > code .keyword {
		color: #b48ead;
	}

	pre > code .variable {
		color: #bf616a;
	}

	pre > code .variable.other.dollar.only.js {
		color: #bf616a;
	}

	pre > code .entity.name.function {
		color: #8fa1b3;
	}

	pre > code .meta.require {
		color: #8fa1b3;
	}

	pre > code .support.function.any-method {
		color: #8fa1b3;
	}

	pre > code .variable.function {
		color: #8fa1b3;
	}

	pre > code .support.class {
		color: #d08770;
	}

	pre > code .entity.name.class {
		color: #d08770;
	}

	pre > code .entity.name.type.class {
		color: #d08770;
	}

	pre > code .meta.class {
		color: #343d46;
	}

	pre > code .keyword.other.special-method {
		color: #8fa1b3;
	}

	pre > code .storage {
		color: #b48ead;
	}

	pre > code .support.function {
		color: #96b5b4;
	}

	pre > code .string {
		color: #a3be8c;
	}

	pre > code .constant.other.symbol {
		color: #a3be8c;
	}

	pre > code .entity.other.inherited-class {
		color: #a3be8c;
	}

	pre > code .constant.numeric {
		color: #d08770;
	}

	pre > code .none {
		color: #d08770;
	}

	pre > code .none {
		color: #d08770;
	}

	pre > code .constant {
		color: #d08770;
	}

	pre > code .entity.name.tag {
		color: #bf616a;
	}

	pre > code .entity.other.attribute-name {
		color: #d08770;
	}

	pre > code .entity.other.attribute-name.id {
		color: #8fa1b3;
	}

	pre > code .punctuation.definition.entity {
		color: #8fa1b3;
	}

	pre > code .meta.selector {
		color: #b48ead;
	}

	pre > code .none {
		color: #d08770;
	}

	pre > code .markup.heading .punctuation.definition.heading {
		color: #8fa1b3;
	}

	pre > code .entity.name.section {
		color: #8fa1b3;
	}

	pre > code .keyword.other.unit {
		color: #d08770;
	}

	pre > code .markup.bold {
		color: #d08770;
		font-weight: bold;
	}

	pre > code .punctuation.definition.bold {
		color: #d08770;
		font-weight: bold;
	}

	pre > code .markup.italic {
		color: #b48ead;
		font-style: italic;
	}

	pre > code .punctuation.definition.italic {
		color: #b48ead;
		font-style: italic;
	}

	pre > code .markup.raw.inline {
		color: #a3be8c;
	}

	pre > code .string.other.link {
		color: #bf616a;
	}

	pre > code .meta.link {
		color: #d08770;
	}

	pre > code .meta.image {
		color: #d08770;
	}

	pre > code .markup.list {
		color: #bf616a;
	}

	pre > code .markup.quote {
		color: #d08770;
	}

	pre > code .meta.separator {
		color: #4f5b66;
		background-color: #dfe1e8;
	}

	pre > code .markup.inserted {
		color: #a3be8c;
	}

	pre > code .markup.inserted.git_gutter {
		color: #a3be8c;
	}

	pre > code .markup.deleted {
		color: #bf616a;
	}

	pre > code .markup.deleted.git_gutter {
		color: #bf616a;
	}

	pre > code .markup.changed {
		color: #b48ead;
	}

	pre > code .markup.changed.git_gutter {
		color: #b48ead;
	}

	pre > code .markup.ignored {
		color: #c0c5ce;
	}

	pre > code .markup.ignored.git_gutter {
		color: #c0c5ce;
	}

	pre > code .markup.untracked {
		color: #c0c5ce;
	}

	pre > code .markup.untracked.git_gutter {
		color: #c0c5ce;
	}

	pre > code .constant.other.color {
		color: #96b5b4;
	}

	pre > code .string.regexp {
		color: #96b5b4;
	}

	pre > code .constant.character.escape {
		color: #96b5b4;
	}

	pre > code .punctuation.section.embedded {
		color: #ab7967;
	}

	pre > code .variable.interpolation {
		color: #ab7967;
	}

	pre > code .invalid.illegal {
		color: #eff1f5;
		background-color: #bf616a;
	}

	pre > code .markup.deleted.git_gutter {
		color: #F92672;
	}

	pre > code .markup.inserted.git_gutter {
		color: #A6E22E;
	}

	pre > code .markup.changed.git_gutter {
		color: #967EFB;
	}

	pre > code .markup.ignored.git_gutter {
		color: #565656;
	}

	pre > code .markup.untracked.git_gutter {
		color: #565656;
	}
}
